<a href="https://colab.research.google.com/github/Diptyregar456/Certifications/blob/main/IBM_PYTHON_CERTIFICATION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello Pyhon 101')  #first program in python
#Hello python 101 is string which is 
#passed in double quotaion and 
#paranthesis is called 
#arguments.'''
print('hell')
print("Hello\nworld!")

Hello Pyhon 101
hell
Hello
world!

In [ ]:
x=1
if(x!=1):
  print('Hello')
else:
  print('Hi')
print('Mike')

Hi
Mike

In [ ]:
def Delta(x):
  if x==0:
    y=1;
  else:
    y=0;
    return(y)

In [ ]:
import pandas as banana
df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})
df.head()

    a   b
0  11  21
1  21  22
2  31  23

In [ ]:
import pandas as pd
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

In [ ]:
with open("Example1.txt","r") as file1:
  FileContent=file1.readlines()
  print(FileContent)

FileNotFoundError: ignored

In [ ]:
import numpy as np
#np.array([1,-1])*np.array([1,1])
#np.dot(np.array([1,-1]),np.array([1,1]))
#A = np.array([[1,2],[3,4],[5,6],[7,8]])
#A = np.array([[1,2],[3,4],[5,6],[7,8]])
#B = np.array([[1,2,3],[4,5,6]])
#c=np.dot(A,B)
'''a=np.array([0,1,0,1,0])
b=np.array([1,0,1,0,1])
a*b'''

'''a=np.array([0,1])

b=np.array([1,0])

np.dot(a,b)'''

a=np.array([1,1,1,1,1])

a+10

array([11, 11, 11, 11, 11])

In [ ]:
def fun():
  print("Welcome to GFG")
  fun()

In [ ]:
def evenOdd(x):
	if (x % 2 == 0):
		print("even")
	else:
		print("odd")
evenOdd(2)
evenOdd(3)

even
odd

In [ ]:
def f(*x):
  return sum(x)

In [ ]:
def fun():
  print("Welcome to GFG")

In [ ]:
a_list = [1, 'hello', [1, 2, 3] , True]
a_list[2]

[1, 2, 3]

In [ ]:
tuple = ("Michael Jackson", 10.1, 1982, [1, 2], ("A", 1))
tuple

('Michael Jackson', 10.1, 1982, [1, 2], ('A', 1))

In [ ]:
i=10000
i!=0

True

In [ ]:
album_year = 1983
album_year = 1987

if album_year > 1980:
    print("Album year is greater than 1980")
    
print('do something..')

Album year is greater than 1980
do something..

In [ ]:
album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

In [ ]:
a =[3,4,5]
for i in range(3):
  print(a[i])
for i in a:
  print(i)
for i,j in enumerate(a):
  print([i],j)

3
4
5
3
4
5
[0] 3
[1] 4
[2] 5

In [ ]:
dates = [1982,1980,1973]
for date in dates:
  print(date)
for i in range(0,3):
  print(dates[i])
for i,j in enumerate(dates):
  print([i],j)

1982
1980
1973
1982
1980
1973
[0] 1982
[1] 1980
[2] 1973

In [ ]:
squares = ['red', 'yellow', 'green', 'purple', 'blue']
for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])
squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white
0 red
1 yellow
2 green
3 purple
4 blue

In [ ]:
x = (i for i in range(3))
for i in x:
    print(i)
#for i in x:
#    print(i)
string = "my name is x"
for i in string:
    print (i, end=", ")
a = [0, 1, 2, 3]
for a[-1] in a:
    print(a[-1])

0
1
2
m, y,  , n, a, m, e,  , i, s,  , x, 0
1
2
2

In [ ]:
#Type conversion
1
bool(1)

True

In [ ]:
print(bool(1))

True

In [ ]:
import sys
print(sys.version)

3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]

In [ ]:
import sys
print(sys.version)

3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]

In [ ]:
#int('1 or 2 people')
str(1)
str(0.45)
float(True)

1.0

In [ ]:
numbers = '0123456'
numbers[::2]
goods = 'GsoAo+d'
print(goods[::2])
print('0123456'.find('1'))
a = '1'
b= '2'
c= a +b
print(c)
print('\\')
print('\\\\')
#print(r"\")

SyntaxError: ignored